<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h2 class="text-center text-primary">User Registeration</h2>
		<hr>
		<form th:action="@{/save}" method="POST">
			<div class="col-md-4">
				<div class="form-group ">
					<label for="userName">User Name</label> <input type="text"
						id="userName" name="userName" class="form-control" autofocus="autofocus">
				</div>
				<div class="form-group">
					<label for="email">Email</label> <input type="text" id="email"
						name="userMail" class="form-control">
				</div>
				<div class="form-group">
					<label for="pwd">Password</label> <input type="password" id="pwd"
					name="userPwd"	class="form-control">
				</div>
				<label for="pwd">Role</label>
		
					<div>
						Admin <input type="checkbox" value="ADMIN"  name="roles">
					</div>
					<div>
						User <input type="checkbox" value="USER"  name="roles">
					</div>
					<div class="d-flex justify-content-around">
						<input type="submit" value="Register" class="btn btn-primary">
					</div>
			
			</div>
		</form>
	</div>
	<div class="card-footer bg-info text-white">
		<span th:text="${message}"></span>
	</div>
</body>
</html>